  <% articles.each do |article| %>
  <div class="container border w-50 mx-auto mt-4">
    <div class="row border-bottom d-flex align-items-center">
      <p class="pr-2 pt-2"><%= image_tag article.user.get_profile_image(50,50), class: "rounded-circle border"; %></p>
      <%= link_to user_path(article.user), class: "text-dark" do %>
        <h3><%= article.user.name %></h3>
      <% end %>
    </div>
    <div class="row border-bottom pl-2">
      <p class="lead"><i class="fas fa-gamepad"></i>  <%= article.title %></p>
    </div>
    <div class="row pl-2">
      <%= link_to article_path(article.id), class: "text-dark" do %>
        <p class="lead"><%= article.body %></p>
      <% end %>
    </div>
    <div class="row">
      <div class="col-3" id="favorite_buttons_<%= article.id %>">
        <%= render 'favorites/btn', article: article %>
      </div>
      <div class="col-3">
        <%= render 'article_comments/counter', article: article %>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate articles %>