<h1>投稿一覧</h1>

<% @articles.each do |article| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag article.user.get_profile_image(100,100) %></p>

  <%= link_to article_path(article.id) do %>
    <p>ユーザーネーム: <%= article.user.name %></p>
    <p>ゲームタイトル: <%= article.title %></p>
    <p>本文: <%= article.body %></p>
  <% end %>
  <p><%= link_to "#{article.article_comments.count}コメント", article_path(article.id) %></p>
</div>
<% end %>
