<div class="container border w-50 mx-auto mt-4 mb-4">
  <div class="row border-bottom d-flex align-items-center">
    <p class="pr-2 pt-2"><%= image_tag @article.user.get_profile_image(50,50), class: "rounded-circle border"; %></p>
    <%= link_to user_path(@article.user), class: "text-dark" do %>
      <h3><%= @article.user.name %></h3>
    <% end %>
  </div>
  <div class="row border-bottom pl-2">
    <p class="lead"><i class="fas fa-gamepad"></i> <%= @article.title %></p>
  </div>
  <div class="row pl-2">
      <p class="lead"><%= @article.body %></p>
  </div>
  <div class="row">
    <div class="col-3" id="favorite_buttons_<%= @article.id %>">
      <%= render 'favorites/btn', article: @article %>
    </div>
    <div class="col-3 article-comments-counter">
      <%= render 'article_comments/counter', article: @article %>
    </div>

  </div>
  <div class="row border-bottom pl-2">
    <p><%= @article.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
    <p>
      <% if @article.user == current_user %>
        <%= link_to article_path(@article), method: :delete, class: "btn btn-danger" do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
    </p>
  </div>
  <div class="row border-bottom pl-2 mb-2 article-comment-counter">
    <%= render 'article_comments/counter_comment', article: @article %>
  </div>
  <div class="article-comments-index">
    <%= render 'article_comments/index', article: @article %>
  </div>
  <div class="article-comments-form">
    <%= render 'article_comments/form', article: @article, article_comment: @article_comment %>
  </div>
</div>