<div class="container mx-auto">
  <div class="row justify-content-center">
    <div class="text-center p-2">
      <%= image_tag @user.get_profile_image(80,80), class: "rounded-circle border"; %>
        <h4><%= @user.name %></h4>
        <% if @user != current_user %>
          <%= render "relationships/btn", user: @user %>
        <% else %>
          <% if @user.name != "guestuser" %>
            <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-secondary" %></p>
          <% end %>
        <% end %>
        <div class="row">
          <div class="col">
            <p>フォロー中</p>
            <p><%= link_to @user.followings.count, user_followings_path(@user), class: "text-dark" %></p>
          </div>
          <div class="col">
            <p>フォロワー</p>
            <p><%= link_to @user.followers.count, user_followers_path(@user), class: "text-dark" %></p>
          </div>
        </div>
    </div>
  </div>
  <%= render 'articles/list', articles: @articles %>
</div>